header{
    background-color:#d2f8fc;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
header ul li a{
    padding: 15px;
    text-decoration: none;
    color: rgb(5, 5, 5);
    border: 1px solid #82e2f1;
    border-radius: 5px;


}
.img-logo{
    width: 50px;
    margin-left: 50px;
    align-items: center;
} 

h1{
    align-items: center;
}



